.theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.theme-toggle-button:active {
    transform: scale(1.2);
}