@keyframes dropdownFadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1E1F24;
    color: var(--md-sys-color-on-background);
    height: 65px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 25px;
    color: #fff;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
  }

  .navContainer {
    margin: 0 25px;
  }

  .navLinks li {
    position: relative;
  }

  .navLinks li span {
    cursor: pointer;
    color: #fff;
  }

  .navLinks li::after {
    content: '';
    position: absolute;
    top: 100%; /* Position it right below the parent element */
    left: 0;
    width: 100%;
    height: 2rem; /* Same as the gap between the parent and the dropdown */
    background: transparent; /* Invisible bridge */
    pointer-events: auto; /* Allow hover events */
  }

  // dropdown box
  .dropdown {
    display: none;
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 10;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(213, 190, 190, 0.5);
    background-color: #1E1F24;
    opacity: 0;
    transform: translateY(-10px);
    animation: dropdownFadeIn 0.3s forwards;
    width: 300px;
    height: 300px;
    padding: 1rem;
    pointer-events: none;
  }

  .navLinks li:hover .dropdown,
  .navLinks li:hover::after {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .dropdown li {
    padding: 0.5rem 1rem;
  }

  .dropdown li a {
    color: #fff;
    text-decoration: none;
  }

  .navLinks a {
    text-decoration: none;
  }
  
  .navLinks a:hover {
    text-decoration: underline;
  }